.avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
